body {
  width: 280px;
  font-family: 'Inter', sans-serif;
  background-color: #f7f7f9;
  padding: 12px;
}

.title {
  margin-bottom: 10px; margin-top: 0;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 15px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    flex-shrink: 0;
    order: 2;
}

.toggle-label {
    margin-right: 15px; 
    font-size: 14px;
    color: #333;
    flex-grow: 1;
    order: 1;
}

.toggle-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2e7d32;
}

input:focus + .slider {
    box-shadow: 0 0 0 3px rgba(46, 125, 50, 0.4);
    outline: none;
}

input:checked + .slider:before {
    transform: translateX(20px);
}