/*
#voice-search-button {
    display: none !important;
}
*/
#comments {
    /*
    min-height: 360px;
    height: calc(100vh - var(--ytd-watch-flexy-masthead-height) - var(--ytd-margin-6x) - var(--ytd-watch-flexy-space-below-player));
    max-height: 700px;
    */
    min-height: 0;
    max-height: var(--ytd-watch-flexy-panel-max-height);
    overflow-y:scroll;
    border: 1px solid var(--yt-spec-10-percent-layer);
    border-radius: 12px;
    padding: 0px 15px;
    margin-bottom: 15px;
}


#byui-comment-button path {
    transform: translateX(5px) translateY(6px);
    -webkit-transform: translateX(5px) translateY(6px);
    -ms-transform: translateX(5px) translateY(6px);
}

ytd-item-section-renderer > #contents {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-flow: dense;
    grid-gap: 16px;
}

ytd-item-section-renderer > #contents ytd-reel-shelf-renderer {
    grid-column: 1 / -1;
}
